.res-wrapper {
    padding: 10px;
}

.res-details {
    width: 100%;
    li {
        border: 1px solid #ccc;
        display: inline-block;
        width: 50%;
        float: left;
        color: lighten($text-color, 15);
        padding-bottom: 5px;

        &:first-child {
            border-bottom: none;
        }
    }

    &::after {
        content: "";
        display: block;
        clear: both;
    }

    margin-bottom: 10px;
}

.res-map {
    width: 100%;
    height: 200px;
    border: none;
}
