.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.center-text {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
