@import 'reset';

$header-color: #CF4647;
$background-color: #fff;

$link-color: #333;
$text-color: #524656;

$button-color: #333;
$button-text-color: #fff;

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: $text-color;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 75px;

    &::before {
        display: block;
        content: "";
    }

    &.progress-start {
        &::before {
            animation-duration: 1s;
            animation-name: progress-start-anim;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
            border-bottom: 2px solid #333;
        }
    }

    &.progress-end {
        &::before {
            animation-duration: 1s;
            animation-name: progress-end-anim;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes progress-start-anim {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes progress-end-anim {
    100% {
        width: 100%;
        border-bottom: none;
    }
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 13px;
}

h2 {
    font-size: 1.35rem;
    margin-bottom: 11px;
}

h3 {
    font-size: 1.15rem;
    margin-bottom: 9px;
}

header {
    padding: 5px;
    height: 150px;
    text-align: center;
    width: 100%;
    a {
        color: $text-color;
        text-decoration: underline;
            outline: 0 !important;
    }

    padding-top:50px;
    padding-bottom: 50px;
}

.wrapper {
    background-color: $background-color;
}

.hero {
    height: 125px;
    padding: 50px;
    padding-bottom: 25px;
    text-align: center;
}

.res-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}

#error {
    width: 50%;

    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    padding: 1em;
    background-color: $button-color;
    color: $button-text-color;
    text-transform: uppercase;
    outline: 0 !important;

    &:hover {
        cursor: pointer;
        background-color: lighten($button-color, 7);
    }
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

.res-img {
    height: 250px;
    width: 250px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 25px;
    margin-bottom: 25px;

    border-radius: 100%;

    background-position: 50% 50%;
}

.res-details {
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 30px;
}

.res-wrapper {

    a {
        color: $link-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
            color: lighter($link-color);
            text-decoration: underline;
        }
    }

}


li {
    color: lighten($text-color, 15);
    display: inline-block;
    width: 30%;
    padding: 5px;

    &:first-child {
        border-right: 1px solid #ccc;
    }
    &:last-child {
        border-left: 1px solid #ccc;   
    }
}