html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  color: #524656;
  font-size: 100%;
  font-family: 'Quicksand', sans-serif; }

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 75px; }
  .wrapper::before {
    display: block;
    content: ""; }
  .wrapper.progress-start::before {
    animation-duration: 1s;
    animation-name: progress-start-anim;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border-bottom: 2px solid #333; }
  .wrapper.progress-end::before {
    animation-duration: 1s;
    animation-name: progress-end-anim;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }

@keyframes progress-start-anim {
  0% {
    width: 0%; }
  100% {
    width: 70%; } }
@keyframes progress-end-anim {
  100% {
    width: 100%;
    border-bottom: none; } }
h1 {
  font-size: 1.5rem;
  margin-bottom: 13px; }

h2 {
  font-size: 1.35rem;
  margin-bottom: 11px; }

h3 {
  font-size: 1.15rem;
  margin-bottom: 9px; }

header {
  padding: 5px;
  height: 150px;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px; }
  header a {
    color: #524656;
    text-decoration: underline;
    outline: 0 !important; }

.wrapper {
  background-color: #fff; }

.hero {
  height: 125px;
  padding: 50px;
  padding-bottom: 25px;
  text-align: center; }

.res-wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px; }

#error {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

button {
  border: none;
  padding: 1em;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  outline: 0 !important; }
  button:hover {
    cursor: pointer;
    background-color: #454545; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  padding: 10px;
  line-height: 30px;
  text-align: center;
  width: 100%; }

.res-img {
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 100%;
  background-position: 50% 50%; }

.res-details {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px; }

.res-wrapper a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold; }
  .res-wrapper a:hover {
    color: lighter(#333);
    text-decoration: underline; }

li {
  color: #7a6880;
  display: inline-block;
  width: 30%;
  padding: 5px; }
  li:first-child {
    border-right: 1px solid #ccc; }
  li:last-child {
    border-left: 1px solid #ccc; }

/*# sourceMappingURL=styles.css.map */
