doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        
        title Eat Out

        link(href='http://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet')
        link(href="static/prod/css/styles.css", rel="stylesheet")
    body

        // wrapper for sticky footer at the bottom
        .wrapper
            header
                h1: a(href="/") Eat out!
                h2 Find random places to eat around you!

            // this wrapper will be replaced by restaurants
            section.res-wrapper
                button(type="submit") Locate Me!

            // this is for location or request errors
            #error

            footer Made with &hearts; in दिल्ली

        script(type="text/javascript", src="static/prod/js/bundle.js")
