doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        
        title Eat Out

        link(href='http://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet', type='text/css')
        link(rel="stylesheet", type="text/css", href="static/prod/css/styles.css")
    body

        .wrapper
            header
                h1 Eat out!
                h2 Find random places to eat around you!
            section.res-wrapper
                h3: a(href="#") Restaurant Name!

                .res-img
                    img(src="https://d.zmtcdn.com/data/pictures/chains/9/1129/0e0f9d647f72e9ddc7237e900b479800_featured_v2.jpg")

                .res-details
                    ul
                        li Rating: 3
                        li Chinese, Finger Food
                        li 1200/-

                button(type="submit") Random!

            footer Made with &hearts; in दिल्ली

        script(type="text/javascript", src="static/prod/js/bundle.js")