doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        
        title Eat Out

        link(href='http://fonts.googleapis.com/css?family=Quicksand:400,700', rel='stylesheet')

        if development
            link(href="static/css/styles.css", rel="stylesheet")
        else
            link(href="static/css/styles.min.css", rel="stylesheet")
    body

        // wrapper for sticky footer at the bottom
        .wrapper
            header.center-text
                h1: a(href="/") Eat out!
                h2 Find random places to eat around you!

            // this wrapper will be replaced by restaurants
            section.react-root.center-text
                button(type="submit") Locate Me!

            // this is for location or request errors
            .error

            footer.center-text Made with &hearts; in दिल्ली

        if development
            script(type="text/javascript", src="static/js/bundle.js")
        else
            script(type="text/javascript", src="static/js/bundle.min.js")
